.display-screen
{
    border: 5px black solid;
    height: 690px;
    width: 1100px;
    display: grid;
    color: white;
    background-color: rgb(31, 30, 30);
}
.display-screen-b
{
    background-color: black;
    border: 5px solid white;
}
#stop
{
    border: 0px;
    border-radius: 5px;
    background-color: red;
    color: black;
    padding: 10px 30px;
}
#stop:hover
{
    background-color: maroon;
    cursor: pointer;
}
#start
{
    border: 0px;
    border-radius: 5px;
    background-color: lime;
    color: black;
    padding: 10px 30px;
}
#start:hover
{
    background-color: green;
    cursor: pointer;
}
#back
{
    border: 0px;
    border-radius: 5px;
    background-color: lightblue;
    color: black;
    padding: 10px 30px;
}
#back:hover
{
    background-color: blue;
    cursor: pointer;
}
.player{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 540px;
}
#buttons-area{
    display: flex;
    height: 30px;
}
#cords{
     display: none;
}
.inventory2{
    display: none;
}
.inventory{  
    height: 280px;
    width: 200px;
    border: 3px white solid;
    background: #100020;
    padding: 10px;
    font-weight: bold;
    color: #218477;
    display: all;
}